/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

.navbar-brand img {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}

@media (max-width: 520px) {
    .navbar-brand img {
        width: 75px;
        margin-left: 25px;
      }

    .navbar-toggler {
        margin-right: 25px;
    }
}