@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 0;
}

body {
    padding-top: 70px; 
}

/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

.navbar-brand img {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}

/* Quem somos */
.banner {
    position: relative;
    padding: 20px;
    background: linear-gradient(to top, #E0C340, #F9DF56);
}

.introducao {
    margin-bottom: 15px;
    padding: 80px 20px; /* Ajuste o padding lateral */
    max-width: 1200px; /* Tamanho máximo da introdução */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

.image-palhacos {
    max-width: 80%;
    height: auto;
    position: relative; /* Posiciona a imagem para facilitar a sobreposição */
}

.text-section {
    position: relative;
    z-index: 1; /* Garante que os textos fiquem acima da imagem */
}

/* Textos e logo sobrepostos */
.rotate-left {
    position: absolute;
    top: 10%; /* Mantém a posição */
    left: 20%; /* Move o texto para a esquerda */
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background-color: whitesmoke;
    padding: 10px;
    transform: rotate(-3deg);
    z-index: 1; /* Mantenha esse valor */
}

.rotate-right {
    position: absolute;
    top: 50%; /* Mantém a posição */
    left: 25%; /* Move o texto para a esquerda */
    font-size: 18px;
    background-color: whitesmoke;
    padding: 15px;
    transform: rotate(1deg);
    z-index: 1; /* Garante que o texto fique acima da imagem */
}

.image-logo {
    position: absolute;
    bottom: 5%; /* Mantém a posição */
    right: 5%; /* Alinha para a direita */
    max-width: 80px;
    height: auto;
    z-index: 2; /* Garante que a logo fique acima do texto */
}

/* Estrelas */
.star {
    font-size: 30px;
    color: #b0b0b0;
    position: absolute;
    transform: rotate(0deg);
}

/* Estrelas específicas */
.star.top {
    top: 10%;
    left: 60%;
    font-size: 40px;
    color: #ffffff89;
    transform: rotate(45deg);
}
.star.left-top {
    top: 20%;
    left: 10%;
    font-size: 50px;
    color: #ffffff89;
    transform: rotate(-30deg);
}
.star.left-bottom {
    bottom: 20%;
    left: 15%;
    font-size: 35px;
    color: #ffffff89;
    transform: rotate(20deg);
}
.star.right {
    bottom: 20%;
    right: 20%;
    font-size: 45px;
    color: #ffffff89;
    transform: rotate(-10deg);
}
.star.bottom {
    bottom: 25%;
    left: 50%;
    font-size: 60px;
    color: #ffffff89;
    transform: rotate(15deg);
}

/* Apoiadores */
.container-informacoes {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFC8CA;  
}

.container-informacoes h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

/* Como apoiar*/

/* Ajustar a largura da imagem */
.img-ajustada {
    max-width: 80%; /* Diminui a largura da imagem */
    width: auto;
}

/* Adicionar espaçamento entre os textos */
.espaco-textos div {
    margin-right: 50px; /* Adiciona espaço entre as colunas com as imagens e textos */
}

.titulo {
    margin-bottom: 10px; /* Espaçamento maior abaixo do título */
}

.descricao {
    margin-top: 20px; /* Espaçamento maior acima do parágrafo */
}

.d-flex.mb-3 {
    gap: 20px; /* Aproxima os textos com espaçamento maior entre eles */
}



/* Conheça*/
.container-conheca {
    margin-top: 20px;
}

.conheca header {
    font-size: 2em;
    margin-bottom: 20px;
}

.container-conheca .conheca {
    margin-left: 100px;
}

.container-conheca .conheca header {
    margin-right: 750px;
}

.container-conheca .conheca img {
    float: left;
    margin-right: 50px;
}

.container-conheca .conheca p {
    margin-right: 150px;
    margin-bottom: 10px;
}


/* Hospitais */
.hospitais {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hospitais .images-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem; 
}


/* Parceiros */

.parceiros {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.parceiros .images-container {
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

.parceiros img {
    width: 150px; 
    height: auto; 
}

/*Formulario*/
.contact-form {
    margin-top: 100px;
    background-color: #F14950;
    color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.contact-form .form-control {
    background-color: #FFF;
    color: #000;
    border: none;
}
.contact-form .btn-submit {
    background-color: #191A23;
    color: #FFF;
    border: none;
    width: 100%;
}
.contact-form .btn-submit:hover {
    background-color: #333;
}
.form-container {
    display: flex;
    align-items: center;
}

.form-container img {
    max-width: 100%;
    max-height: 28rem;
    margin-left: auto;
    padding-right: 0;
}

/* Footer */
footer{
    margin-top: 100px;
}

/* Responsividade */
/*Estrela fora de alinhamento em tela muito grande*/
@media (min-width: 1800px) {
    .star.top {
        top: 10%;
    }

    .star.left-top {
        top: 20%;
        left: 25%;
    }

    .star.left-bottom {
        bottom: 20%;
        left: 30%;
    }

    .star.right {
        bottom: 30%;
        right: 30%;
    }

    .star.bottom {
        bottom: 30%;
        left: 50%;
    }
}

@media (max-width: 992px) {

    .introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-6 .image{
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .col-md-6 .rotate-left {
        position: relative;
        left: 0;
        top: 0;
        transform: none; 
        width: auto;
        margin-bottom: 10px;
        text-align: center; 
    }

    .col-md-6 .rotate-right {
        position: relative;
        left: 0;
        top: 0;
        transform: none; 
        width: auto;
        margin-bottom: 10px;
        text-align: center; 
    }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .introducao {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center; 
    }

    .col-md-6 img {
        width: 100%;
        height: auto; 
    }

    .text-section {
        padding-top: 20px; 
        text-align: center; 
    }

    /* Ajusta a imagem da logo em telas menores */
    .image {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }

    /* Remove a rotação em telas menores */
    .rotate-left, .rotate-right {
        transform: none;
        margin-bottom: 10px;
    }

    .star.left-bottom {
        bottom: 50%;
    }
    .star.right {
        bottom: 70%;
    }
    .star.bottom {
        bottom: 40%;
    }

    .form-container {
        flex-direction: column;
    }
    
    .form-container .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-container img {
        display: none;
    }
}