@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 0;
}

body {
    padding-top: 70px; 
}

/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

.navbar-brand img {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}

/* Quem somos */
.banner {
    position: relative;
    padding: 20px;
    background: linear-gradient(to top, #E0C340, #F9DF56);
}

.introducao {
    margin-bottom: 15px;
    padding: 80px 20px; /* Ajuste o padding lateral */
    max-width: 1200px; /* Tamanho máximo da introdução */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

.image-palhacos {
    max-width: 90%;
    height: auto;
    position: relative; 
}

.text-section {
    position: relative;
    z-index: 1; 
}

/* Textos e logo sobrepostos */
.rotate-left {
    position: absolute;
    top: 10%; /* Mantém a posição */
    left: 20%; /* Move o texto para a esquerda */
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background-color: whitesmoke;
    padding: 10px;
    transform: rotate(-3deg);
    z-index: 1; 
}

.rotate-right {
    position: absolute;
    top: 50%; /* Mantém a posição */
    left: 25%; /* Move o texto para a esquerda */
    font-size: 18px;
    background-color: whitesmoke;
    padding: 15px;
    transform: rotate(1deg);
    z-index: 1; 
}

.image-logo {
    position: absolute;
    bottom: 5%; /* Mantém a posição */
    right: 5%; /* Alinha para a direita */
    max-width: 80px;
    height: auto;
    z-index: 2; 
}

/* Estrelas */
.star {
    font-size: 30px;
    color: #b0b0b0;
    position: absolute;
    transform: rotate(0deg);
}

/* Estrelas específicas */
.star.top {
    top: 10%;
    left: 60%;
    font-size: 40px;
    color: #ffffff89;
    transform: rotate(45deg);
}
.star.left-top {
    top: 20%;
    left: 10%;
    font-size: 50px;
    color: #ffffff89;
    transform: rotate(-30deg);
}
.star.left-bottom {
    bottom: 20%;
    left: 15%;
    font-size: 35px;
    color: #ffffff89;
    transform: rotate(20deg);
}
.star.right {
    bottom: 20%;
    right: 20%;
    font-size: 45px;
    color: #ffffff89;
    transform: rotate(-10deg);
}
.star.bottom {
    bottom: 25%;
    left: 50%;
    font-size: 60px;
    color: #ffffff89;
    transform: rotate(15deg);
}

/* Apoiadores */
.container-informacoes {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFC8CA;  
}

.container-informacoes h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

/* Como apoiar */

.como-apoiar-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.como-apoiar-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #2E2F35;
}

.como-apoiar-container h2 .apoiar {
    font-family: 'Covered By Your Grace', cursive;
    color: #009387;
}

.info-card {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}

.info-card .number {
    font-size: 36px;
    font-weight: regular;
    margin-bottom: 5px; /* Para garantir que o número fique acima do parágrafo */
}

.como-apoiar-img {
    width: 250px;
    height: auto;
}

.btn-custom {
    background: linear-gradient(to right, #D95DB0, #3344DC);
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    padding: 10px 20px;
    width: 50%; /* Aumenta a largura do botão */
    transition: background 0.3s ease;
}

.btn-custom:hover {
    background: linear-gradient(to right, #3344DC, #D95DB0);
}

.mt-4.text-center {
    text-align: center;
}

/* Conheça*/
#conheca {
    font-family: 'Poppins', sans-serif;
}

.title-overlay {
    position: absolute;
    top: -30px;
    left: 30%;
    z-index: 2;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    padding: 5px 10px;
}

.conheca-img {
    margin-top: 55px;
    max-width: 600px;
}

.description {
    font-weight: 400;
    font-size: 20px;
}

.btn-conheca {
    background: linear-gradient(to right, #D95DB0, #3344DC);
    color: #FFF;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: background 0.3s ease;
}

.btn-conheca:hover {
    background: linear-gradient(to right, #3344DC, #D95DB0);
}


/* Hospitais */
.hospitais-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    margin-bottom: 30px;
}

.city-card {
    border-radius: 15px;
    overflow: hidden;
}

.city-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-right: 10px; 
}

.arrow {
    cursor: pointer;
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

.card-content {
    margin-top: 10px;
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: inherit; 
}

.card-content:hover .city-text,
.card-content:hover .arrow {
    text-decoration: underline; 
}


/*Formulario*/
.contact-form {
    margin-top: 100px;
    background-color: #F14950;
    color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.contact-form .form-control {
    background-color: #FFF;
    color: #000;
    border: none;
}
.contact-form .btn-submit {
    background-color: #191A23;
    color: #FFF;
    border: none;
    width: 100%;
}
.contact-form .btn-submit:hover {
    background-color: #333;
}
.form-container {
    display: flex;
    align-items: center;
}

.form-container img {
    max-width: 100%;
    max-height: 28rem;
    margin-left: auto;
    padding-right: 0;
}

/* Nossa história */

.titulo-historia{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
}

.img-esquerda {
    transform: rotate(2deg);
    position: relative;
    top: -30px;
    width: 100%;  
}

.img-direita {
    transform: rotate(2deg);  
    position: relative;
    top: 120px;
    width: 100%;  
}

.texto-central {
    text-align: center;
    width: 400px; 
    max-width: 100%; 
    flex: 0 0 auto;
}

/* inscreva-se*/
.formulario-palhaco{
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: 500px;
    margin-left: -170px;

}

/* Footer */

.footer-image{
    margin-top: 80px;
    margin-left: 150px;
}

ul.list-unstyled li {
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 300px;
    margin-right: 120px;
}

.social-icons a {
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.text-white {
    text-decoration: none;
}


@media (max-width: 768px) {

}

/* Responsividade */
/*Estrela fora de alinhamento em tela muito grande*/
@media (min-width: 1800px) {
    .star.top {
        top: 10%;
    }

    .star.left-top {
        top: 20%;
        left: 25%;
    }

    .star.left-bottom {
        bottom: 20%;
        left: 30%;
    }

    .star.right {
        bottom: 30%;
        right: 30%;
    }

    .star.bottom {
        bottom: 30%;
        left: 50%;
    }
}

@media (max-width: 992px) {

    .introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-6 .image{
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .col-md-6 .rotate-left {
        position: relative;
        left: 0;
        top: 0;
        transform: none; 
        width: auto;
        margin-bottom: 10px;
        text-align: center; 
    }

    .col-md-6 .rotate-right {
        position: relative;
        left: 0;
        top: 0;
        transform: none; 
        width: auto;
        margin-bottom: 10px;
        text-align: center; 
    }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .introducao {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center; 
    }

    .col-md-6 img {
        width: 100%;
        height: auto; 
    }

    .text-section {
        padding-top: 20px; 
        text-align: center; 
    }

    /* Ajusta a imagem da logo em telas menores */
    .image {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }

    /* Remove a rotação em telas menores */
    .rotate-left, .rotate-right {
        transform: none;
        margin-bottom: 10px;
    }

    .star.left-bottom {
        bottom: 50%;
    }
    .star.right {
        bottom: 70%;
    }
    .star.bottom {
        bottom: 40%;
    }

    .form-container {
        flex-direction: column;
    }
    
    .form-container .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-container img {
        display: none;
    }

    .social-icons {
        margin-top: 20px;
        margin-left: 90px;
    }

    .footer-image{
        margin-left: 10px;
    }

    .social-icons {
        margin-right: -20px;
    }
    .opcoes{
        margin-top: 30px;
    }
}