@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 70px;
}

.row {
    margin: 0;
}

/* Quem somos */
.banner {
    position: relative;
    padding: 20px;
    background: linear-gradient(to top, #E0C340, #F9DF56);
}

.introducao {
    padding: 80px 20px; 
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto; 
}

.image-palhacos {
    max-width: 90%;
    height: auto;
    position: relative; 
}

.text-section {
    position: relative;
   
}

/* Textos e logo sobrepostos */
.col-md-6 .rotate-left {
    position: absolute;
    top: 12%; 
    left: -19%;
    height: 115px;
    width: 420px;
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background-color: whitesmoke;
    padding: 5px;
    transform: rotate(-3deg);
    line-height: 50px;
   
}

.rotate-right {
    position: absolute;
    top: 49%; 
    left: -10%;
    width: 410px;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 15px;
    transform: rotate(1deg);
   
}

.image-logo {
    position: absolute;
    margin-top: 240px; 
    left: 45%; 
    max-width: 120px;
    height: auto;
}

/* Estrelas */
.star {
    font-size: 30px;
    color: #b0b0b0;
    position: absolute;
    transform: rotate(0deg);
}

/* Estrelas específicas */
.star.top {
    top: 10%;
    left: 60%;
    font-size: 40px;
    color: #ffffff89;
    transform: rotate(45deg);
}
.star.left-top {
    top: 20%;
    left: 10%;
    font-size: 50px;
    color: #ffffff89;
    transform: rotate(-30deg);
}
.star.left-bottom {
    bottom: 20%;
    left: 15%;
    font-size: 35px;
    color: #ffffff89;
    transform: rotate(20deg);
}
.star.right {
    bottom: 20%;
    right: 20%;
    font-size: 45px;
    color: #ffffff89;
    transform: rotate(-10deg);
}
.star.bottom {
    bottom: 25%;
    left: 50%;
    font-size: 60px;
    color: #ffffff89;
    transform: rotate(15deg);
}

/* Apoiadores */
.container-informacoes {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFC8CA;  
}

.container-informacoes h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

/* Como apoiar */

.como-apoiar-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.como-apoiar-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #2E2F35;
}

.como-apoiar-container h2 .apoiar {
    font-family: 'Covered By Your Grace', cursive;
    color: #009387;
}

.info-card {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}

.info-card .number {
    font-size: 36px;
    font-weight: regular;
    margin-bottom: 5px;
}

.como-apoiar-img {
    width: 250px;
    height: auto;
}

.btn-custom {
    background: linear-gradient(to right, #D95DB0, #3344DC);
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    padding: 10px 20px;
    width: 50%; 
    transition: background 0.3s ease;
    margin-left: 150px;
}

.btn-custom:hover {
    background: linear-gradient(to right, #3344DC, #D95DB0);
}

.btn-conheca{
    border-radius: 50%;
}

.mt-4.text-center {
    text-align: center;
}

/* Conheça*/
#conheca {
    font-family: 'Poppins', sans-serif;
}

.title-overlay {
    position: absolute;
    top: -30px;
    left: 30%;
    z-index: 2;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    padding: 5px 10px;
}

.title-overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #F5DD6D; 
    z-index: -1; 
    transform: skewX(-20deg);
}


.conheca-img {
    margin-top: 55px;
    max-width: 600px;
}

.description {
    font-weight: 400;
    font-size: 20px;
}

.btn-conheca {
    background: linear-gradient(to right, #D95DB0, #3344DC);
    color: #FFF;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: background 0.3s ease;
    width: 30%;
}

.btn-conheca:hover {
    background: linear-gradient(to right, #3344DC, #D95DB0);
}


/* Hospitais */
.hospitais-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    margin-bottom: 30px;
}

.hospitais-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10%;
    height: 30px;
    background-color: #F5DD6D; 
    z-index: -1; 
    transform: skewX(-20deg);
}

.city-card {
    border-radius: 15px;
    overflow: hidden;
}

.city-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-right: 10px; 
}

.arrow {
    cursor: pointer;
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

.card-content {
    margin-top: 10px;
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: inherit; 
}

.card-content:hover .city-text,
.card-content:hover .arrow {
    text-decoration: underline; 
}


/*Formulario*/
.contact-form {
    margin-top: 100px;
    background-color: #F14950;
    color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.contact-form .form-control {
    background-color: #FFF;
    color: #000;
    border: none;
}
.contact-form .btn-submit {
    background-color: #191A23;
    color: #FFF;
    border: none;
    width: 100%;
}
.contact-form .btn-submit:hover {
    background-color: #333;
}
.form-container {
    display: flex;
    align-items: center;
}

.form-container img {
    max-width: 100%;
    max-height: 28rem;
    margin-left: auto;
    padding-right: 0;
}

/* Nossa história */

.titulo-historia{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
}

.img-esquerda {
    transform: rotate(2deg);
    position: relative;
    top: -30px;
    width: 80%; 
}

.img-direita {
    transform: rotate(2deg);  
    position: relative;
    top: 120px;
    width: 80%;  
}

.texto-central {
    text-align: center;
    width: 400px; 
    max-width: 100%; 
    flex: 0 0 auto;
}

.btn-historia{
    background: linear-gradient(to right, #D95DB0, #3344DC);
    color: #FFF;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: background 0.3s ease;
}

.btn-historia:hover{
    background: linear-gradient(to right, #3344DC, #D95DB0);
}

/* inscreva-se*/
.formulario-palhaco{
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: 500px;
    margin-left: -170px;

}


/* Responsividade */
/*Estrela fora de alinhamento em tela muito grande*/
@media (min-width: 1800px) {

    .image-logo{
        position: absolute;
        margin-top: 250px; 
        left: 43%; 
        max-width: 120px;
        height: auto;
    }

    .col-md-6 .rotate-right{
        position: absolute;
        top: 49%;
        left: -10%;
        width: 410px;
        font-size: 17px;
        background-color: whitesmoke;
        transform: rotate(1deg);
    }
    
    .star.top {
        top: 10%;
    }

    .star.left-top {
        top: 20%;
        left: 25%;
    }

    .star.left-bottom {
        bottom: 20%;
        left: 30%;
    }

    .star.right {
        bottom: 30%;
        right: 30%;
    }

    .star.bottom {
        bottom: 30%;
        left: 50%;
    }  
}


@media (max-width: 1440px) {

    #conheca .conheca-img {
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    #conheca .description {
        font-size: 1rem; 
        margin-top: 50px; 
    }

    #conheca .btn-conheca {
        font-size: 1rem; 
    }
}

@media (max-width: 992px) {

    .introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-6 .image{
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .col-md-6 .rotate-left {
        position: relative;
        left: 0;
        top: 0;
        transform: none; 
        width: auto;
        margin-bottom: 10px;
        text-align: center; 
        font-size: 50px;
    }

    .col-md-6 .rotate-right {
        position: relative;
        left: 0;
        transform: none; 
        width: auto;
        height: auto;
        text-align: center; 
    }

    .image-logo {
        position: absolute;
        margin-top: -5px; 
        left: 32%; 
    }

    /* Nossa história */

    .img-esquerda{
        width: 500px;
        height: 500px;
    }

    .img-direita{
        width: 500px;
        height: 500px;
    }
}

/* Ajustes para telas com largura máxima de 800px */
@media (max-width: 834px) {
    #conheca .conheca-img {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px; 
    }

    #conheca .description {
        font-size: 1rem; 
        margin-top: 0;
        padding-top: 60px;
    }

    #conheca .btn-conheca {
        margin-left: 100px;
        width: 50%;
        font-size: 1rem; 
    }
}

@media(max-width: 768px){

    .btn-custom{
        margin-right: 25px;
    }
}



/* Ajustes para telas menores */
@media (max-width: 520px) {
    .introducao {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center; 
    }

    .col-md-6 img {
        width: 100%;
        height: auto; 
    }

    .text-section {
        padding-top: 20px; 
        text-align: center; 
    }

    
    .image {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }

    
    .rotate-left{
        font-size: 45px;
    } 
    
    .rotate-right {
        transform: none;
        margin-bottom: 10px;
    }

    .star.left-bottom {
        bottom: 50%;
    }
    .star.right {
        bottom: 70%;
    }
    .star.bottom {
        bottom: 40%;
    }

    .form-container {
        flex-direction: column;
    }
    
    .form-container .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-container img {
        display: none;
    }

    .btn-custom{
        margin-left: 100px;
    }

    #conheca .description {
        font-size: 1rem; 
        margin-top: 0;
        padding-top: 5px;
    }

    /* Conheça*/

}

@media (max-width: 420px){
    .title-overlay {
        font-size: 28px;
    }
}

@media (max-width: 390px) {
    .col-md-6 .rotate-left {
        font-size: 37px;
    }
}