@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 0;
}

body {
    padding-top: 70px; 
}

/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

.navbar-brand img {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}

/* Carrousel */
.carousel-indicators li {
    width: 12px;
    height: 70px;
    border-radius: 100%; 
    background-color: rgba(255, 255, 255, 0.5); 
}

.carousel-indicators .active {
    background-color: white; 
    width: 12px;
    height: 70px;
}

.carousel-indicators li::before {
    content: none;
}



@media (max-width: 768px) {
    #carouselExampleControls img {
        max-height: 300px; 
        object-position: top;
    }
}
